.movies-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.movies-card__img {
    width: 100%;
    object-fit: cover;
    max-height: 201px;
    cursor: pointer;
}

.movies-card__caption {
    margin-top: 14px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.movies-card__name {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.21;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 250px;
}

.movie-card__duration {
    background: #2F2F2F;
    border-radius: 3px;
    color: #8B8B8B;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 0.9;
    text-align: center;
    width: 52px;
    margin: 0;
    padding: 4px 0;
}

.movie-card__action-button {
    visibility: hidden;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s, visibility 0.1s;
    width: 72px;
    height: 21px;
    font-size: 10px;
    line-height: 1.1;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.movie-card__action-button_liked {
    background-image: url("../../images/icon__movie_like.svg");
    background-color: transparent;
    background-position: center center;
    object-fit: cover;
    width: 21px;
    height: 21px;
    font-size: 0;
}

.movie-card__action-button_place_saved-movies {
    background-image: url("../../images/icon__movie_delete.svg");
    background-position: center center;
    background-color: transparent;
    object-fit: cover;
    width: 21px;
    height: 21px;
    font-size: 0;
}

.movie-card__action-button:hover {
    visibility: visible;
}

.movies-card__img:hover + .movie-card__action-button {
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .movies-card__img {
        max-height: 190px;
    }

    .movies-card__caption {
        margin-top: 26px;
        gap: 37px;
    }

}

@media screen and (max-width: 400px) {
    .movies-card__img {
        max-height: 168px;
    }

    .movies-card__caption {
        margin-top: 15px;
        gap: 8px;
    }

    .movies-card__name {
        font-size: 12px;
        width: 240px;
    }
}