.profile {
    margin: 0 auto;
    max-width: 1280px;
}

.profile__container {
    padding: 74px 0 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 410px;
}

.profile__title {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    padding-top: 123px;
    width: 100%;
}

.profile__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 18px;
    border-bottom: 1px solid #424242;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    margin: 0;
    color: #fff;
    position: relative;
}

.profile__input_error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 10px;
    color: #c20606;
}

.profile__label:first-of-type {
    padding-top: 0;
}

.profile__label:last-of-type {
    border-bottom: none;
}

.profile__input {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #fff;
    text-align: right;
    width: 350px;
}

.profile__input:focus  {
    outline: none;
}

.profile__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 220px;
}

.profile__success-msg {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 13px;
    color: #2BE080;
    margin: 0;
    padding: 0;
    text-align: center;
}

.profile__button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    text-align: center;
    color: #fff;
    transition: opacity 0.5s;
    cursor: pointer;
}

.profile__button_type_submit:disabled {
    transition: none;
    cursor: inherit;
}

.profile__button_type_submit:disabled  {
    opacity: 0.5;
}

.profile__button_type_exit {
    color: #EE3465;
}

@media screen and (max-width: 768px) {
    .profile__container {
        padding: 236px 0 269px;
    }

    .profile__form {
        padding-bottom: 0;
        padding-top: 97px;
    }

    .profile__button-container {
        padding-top: 210px;
    }
}

@media screen and (max-width: 480px) {
    .profile__container {
        padding: 70px 0 40px;
        max-width: 260px;
    }

    .profile__form {
        padding-bottom: 0;
        padding-top: 81px;
    }

    .profile__input {
        width: 200px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 1.21;
    }
}

