.portfolio {
    padding: 0 70px 125px;
    max-width: 1280px;
    margin: 0 auto;
}

.portfolio__title {
    color: #8B8B8B;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0 0 50px;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 30px;
    line-height: 1.66;
    font-weight: 400;
    text-align: left;
    margin: 0;
    letter-spacing: -0.04em;
    display: flex;
    justify-content: space-between;
}

.portfolio__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.portfolio__link_img {
    width: 18px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 0 50px 90px;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 1.78;
    }

    .portfolio__item {
        padding-bottom: 19px;
        border-bottom: 1px solid #E6E6E6;
    }

    .portfolio__link_img {
        width: 17px;
    }
}

@media screen and (max-width: 480px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 1.42;
        padding: 0 0 40px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 1.55;
    }

    .portfolio__link_img {
        width: 11px;
    }
}
