.search-form {
    padding: 80px 70px 10px;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
}

.search-form__form {
    flex-direction: column;
}

.search-form__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search-form__search {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 400;
    height: 50px;
    max-width: 1086px;
    background-color: #2F2F2F;
    color: #8B8B8B;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    width: 100%;
}

.search-form__search:focus {
    outline: 1px solid #3DDC84;
}

.search-form__button {
    background-image: url("../../images/icon__search.svg");
    background-repeat: no-repeat;
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    transition: opacity 0.5s;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .search-form {
        padding: 80px 30px 10px;
    }

    .search-form__search {
        max-width: 654px;
    }
}

@media screen and (max-width: 450px) {
    .search-form {
        padding: 80px 14px 10px;
    }

    .search-form__search {
        height: 44px;
        max-width: 238px;
        padding-left: 13px;
    }
}