.header {
    margin: 0 auto;
    max-width: 100%;
    max-height: 74px;
}

.header__item {
    display: flex;
    justify-content: space-between;
    padding: 18px 70px;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    align-items: center;
}

.header__logo {
    background-image: url("../../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 38px;
    width: 38px;
}

.header__links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

.header__link {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.5s;
}

.header__link_type_login {
    color: #000;
    background-color: #3DDC84;
    padding: 9px 20px;
    margin: 0;
    border-radius: 3px;
}

.header__burger {
    display: none;
    background-image: url("../../images/icon__burger_menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__item {
        padding: 17px 30px 19px;
    }

    .header__burger {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .header__item {
        padding: 17px 14px 19px;
    }

    .header__links {
        gap: 14px;
    }

    .header__link {
        font-size: 10px;
    }

    .header__link_type_login {
        color: #000;
        background-color: #3DDC84;
        padding: 5px 12px;
        margin: 0;
        border-radius: 3px;
    }

    .header__burger {
        width: 34px;
        height: 34px;
        margin-right: 5px;
    }
}


