.header-account-link {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: #fff;
    border-radius: 20px;
    background-color: #272727;
    text-decoration: none;
    padding: 8px 20px;
}

.header-account-link_place_side {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .header-account-link_hidden {
       display: none;
    }
}
